:root {
  --background: #ffffff;
  --foreground: #171717;
}

@font-face {
  font-family: 'CreatoLight';
  src: url('./fonts/CreatoDisplay-Thin.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Anurati;
  src: url("./fonts/Anurati-Regular.otf") format("opentype");
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: #000000;
  font-family: CreatoLight;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

input:focus {
  outline: none; /* Removes the default focus outline */
  box-shadow: none; /* Removes any box-shadow */
}

button {
  font-family: CreatoLight;
}